@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

    <h6>
        Throughout history, in every culture, in every country, extraordinary women have pushed society to think bigger,to think selflessly, to think out of the box.
    </h6>
    <h6>
        These women are examples of ceaseless labor,ingenuity, perseverance and unimaginable.
    </h6>
    <h6>
        They have broken many a barriers, thanks to each of them, women and girls all over the world are able to live with fewer restraints and bigger dreams.
        
    </h6>
    <h6>
        Who are the women heroes that changed your world for the better?
    </h6>
