@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
@*  *@</div>

<div class="row">
    <div class="col-md-12" align="center">
        <img src="~/Image/download.jpg" width="700"/>
        @*<h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-12" align="center">
        <h2>My Superheroes</h2>
        <p>There is only one Wonder Woman – but there are millions of 'REAL LIFE WOMEN SUPERHEROES'.</p>
        <p>They fight the battles that others refuse to.</p>
        <p>They bring comfort to those in need.</p>
        <p>They strive to make the world a better place to live in.</p>
        <p>These are the women who are MY INSPIRATION.</p>
        <p>They are MY SUPERHEROES.</p>
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
   @* <div class="col-md-4">*@
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    @*  *@</div>
@*</div>*@